.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 1rem;
}

.buttonGroup button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background: #272727;
  border-radius: 5px;
  cursor: pointer;
}

.buttonGroup button.selected {
  background: #1e2f41;
  color: white;
  border-color: #ffffff;
}
