.exercise-card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 1rem;
padding: 1rem;
border: 1px solid #ccc;
border-radius: 10px;
width: 200px;
}

.exercise-card > * {
    margin: 0;
}
